{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    {{ car.model.name }}
{% endblock %}

{% block body %}
  <h1 class="display-8 text-muted"> Brand & Model: {{ car.make.name }} {{ car.model.name }} </h1>
    <table class="table">
        <tr>
            <td>Navigation System: </td>
            <td>{% if car.navigation %}  <i class="far fa-check-circle"></i>
                    {% else %}
                        <i class="far fa-times-circle"></i>
            {% endif %}
            </td>
        </tr>
        <tr>
            <td>Year: </td>
            <td>{{ car.year }}</td>
        </tr>

        <tr>
            <td>Price: </td>
            <td>{{ car.price }}</td>
        </tr>
    </table>
    <p>{{ car.description }}</p>
    <a href="{{ url('offer') }}">Back</a>
{% endblock %}